<!-- <h1 class="title-text">welcome to angular 8 Origin technical test: {{title}}</h1> -->

<div class="container">
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"> Label</th>
            <th scope="col"> Description</th>
            <th scope="col"> Category</th>
            <th scope="col"> Done/not Done</th>
            <th scope="col"> Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of $tasks | async">
            <th scope="row">{{task.id}}</th>
            <td>{{task.label}}</td>
            <td>{{task.description}}</td>
            <td>{{task.category}}</td>
            <td>{{task.done}}</td>
            <td></td>
            <td> <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div></td>
          </tr>
         
        </tbody>
        <div class="row">
            <div class="col">  <button type="button" class="btn btn-primary">Add</button></div>
        </div>
      </table>
  </div>